body {
  margin: 0;
  height: 100vh;
  align-items: center;
  background: url("https://ts1.tc.mm.bing.net/th/id/R-C.08fb1024fba90917b79f5655800fccef?rik=OX2a0abv8uKeqA&riu=http%3a%2f%2fimage.imufu.cn%2fforum%2f201308%2f01%2f101502xfnk983fk3hnp2it.jpg&ehk=HZHTdPa88LeDrxO54YQ%2b%2b8MeR9b4cNToGaE4fGZnBsQ%3d&risl=&pid=ImgRaw&r=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* flex */
body,
.content,
.item,
.search :nth-child(3),
.setting,
.search,
.warning,
.setting > div:nth-child(2) > div {
  display: flex;
}

/* center */
.item,
.search > div:nth-child(1),
.setting > div:nth-child(1),
.prompt,
.time {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* column */
.time,
.setting,
.menu,
.search,
.search > div:nth-child(2),
.setting > div:nth-child(2),
body {
  flex-direction: column;
}

/* fixed */
.setting,
.warning,
.prompt {
  position: fixed;
}

/* menu */
.menu {
  display: none;
  position: fixed;
  z-index: 1;
  width: 20%;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  font-weight: bold;
}
.menu > div {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.menu > div:hover {
  background-color: #ccc;
}

.menu,
.search,
.search > div:nth-child(2),
.setting > div:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.6);
}

/* 时间 */
.time {
  margin-top: 2rem;
  color: white;
}
.time > div:nth-child(1) {
  font-size: 3rem;
  font-weight: bold;
}
.time > div:nth-child(2) {
  margin-bottom: 20px;
}

/* 搜索 */
.search {
  width: 60vw;
  border-radius: 20px;
  padding: 5px;
  position: relative;
}

.search input {
  flex: 1;
  font-size: 1rem;
  border: 0;
  background: none;
  color: #333;
  min-width: 0;
}

.search input:focus {
  outline: none;
}

.search > div:nth-child(1) > div:nth-child(1) {
  height: 30px;
  width: 30px;
  min-width: 30px;
}

.search > div:nth-child(1) > div:nth-child(1) img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0.6;
  cursor: pointer;
}
.search > div:nth-child(1) > div:nth-child(1) img:hover {
  opacity: 1;
}
.search > div:nth-child(1) > :nth-child(3) {
  height: 30px;
  width: 30px;
  min-width: 30px;
  align-items: center;
  cursor: pointer;
}
.search > div:nth-child(1) > :nth-child(3) img {
  width: 80%;
  height: 80%;
}
.search > div:nth-child(2) {
  position: absolute;
  width: 100%;
  top: 40px;
  right: 0;
  display: none;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}
.search > div:nth-child(2) > div {
  cursor: pointer;
  padding: 10px;
}
.search > div:nth-child(2) > div:hover,
.setting > div:nth-child(2) > div:hover {
  background-color: #eee;
}

/* content */
.content {
  width: 80vw;
}

/* setting */
.setting {
  top: 20px;
  right: 20px;
  align-items: end;
}

.setting button {
  background-color: white;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.setting > div:nth-child(1) {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
}

.setting > div:nth-child(1) > img {
  width: 80%;
}

.setting > div:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  width: 200px;
  color: #333;
  display: none;
  animation: show 1s ease-out;
}

.setting > div:nth-child(2) > div {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  justify-content: space-between;
}

.setting > div:nth-child(2) > div:hover {
  background-color: #ccc;
}

/* popup */
.warning,
.prompt {
  top: 10%;
  padding: 5px;
  background-color: #ccc;
  z-index: 1;
}
.prompt {
  opacity: 0;
  border-radius: 4px;
  animation: hide 2s ease-in;
}
.warning {
  border-radius: 10px;
  width: 300px;
  height: 150px;
}
.warning button {
  border: 0;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
}
.warning :nth-child(2) {
  background-color: red;
  color: white;
  margin-right: 10px;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .setting > div:nth-child(1) {
    width: 35px;
    height: 35px;
  }
}
